.App{
  
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #f1eff0;
}

.submitButton{
  background-color: gray;
;
}